#viewbtn{
    font-size: 12px;
    color: white;
    background-color: lightslategray;
    border: none;
    border-radius: 6px;
}
i{
    font-family: "FontAwesome" !important;
    font-style: normal;
    margin-left: 5px;
}