body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1a1919;
    color: #fff;
    opacity: 0.90;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

i {
  font-family: "FontAwesome" !important;
  font-style: normal;
  color: #fff;
}

th, td {
  color: #fff;
  opacity: 0.90;
}

.nav {
  color: #fff;
}

.themePopover, .card {
  background-color: #1a1919;
  color: #fff;
  opacity: 0.90;
}

#navlinks {
  color: #fff !important;
  opacity: 0.90;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}