body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

i{
  font-family: "FontAwesome" !important;
  font-style: normal;
}

#resourcePage:focus {
  outline: none;
}

#myInput {
  color: black !important;
}

.card {
  background-color: var(--background) !important;
  color: var(--text) !important;
}

.modal-content {
  background-color: var(--background);
  color: var(--text);
}

#select-search {
  color: black; 
}

button:focus {
  outline: 5px auto -webkit-focus-ring-color !important;
}

button.close {
  color: var(--text);
}

button.close:hover {
  color: var(--text);
  opacity: 0.90
}

nav a {
  color: var(--text) !important;
  opacity: .9;
}

nav a:hover {
  color: var(--text) !important;
  opacity: .55;
}

nav a:focus {
  color: var(--text) !important;
  opacity: .55;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.section-header, #add-skill {
  color: var(--primary); 
  background-color: transparent; 
  border-color: transparent;
  text-decoration: none;
}

.section-header:hover, #add-skill:hover {
  color: var(--primary); 
  opacity: 0.90;
  background-color: transparent; 
  border-color: transparent;
  text-decoration: none;
}

.section-header:active, #add-skill:active {
  color: var(--primary); 
  opacity: 0.80;
  background-color: transparent; 
  border-color: transparent;
  text-decoration: none;
}

#edit {
  color: var(--text);
}

#edit:hover {
  color: var(--text);
  opacity: 0.75;
}

.profileLink {
  text-decoration: none;
  color: var(--text);
}

.profileLink:hover{
  text-decoration: none;
  color: var(--text);
  opacity: 0.75;
}

table, th, td {
  color: var(--text);
}

.table-data {
  color: var(--text);
}

.table-data:hover {
  color: var(--text);
  opacity: 0.75;
}

.blue-button {
  background-color: var(--primary); 
  border-color: var(--primary);
}

.blue-button:hover {
  background-color: var(--primary); 
  border-color: var(--primary);
  opacity: 0.90;
}

.blue-button:active {
  background-color: var(--primary); 
  border-color: var(--primary);
  opacity: 0.80;
}

.ResumeModal {
  height: 90vh;
}

.disabledBtn {
  pointer-events: none;
}

:root {
  --space: 1.5em 0;
  --space: 2em 0;
}

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Site-content {
  flex: 1 0 auto;
  padding: var(--space) var(--space) 0;
  width: 100%;
}

.Site-content:after {
  content: '\00a0';
  display: block;
  margin-top: var(--space);
  height: 0;
  visibility: hidden;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
      height: auto !important;
  }
}