body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: #1a1919; */
    background-color: #121212;
    color: #fff;
    opacity: 0.90;
}
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

i {
  font-family: "FontAwesome" !important;
  font-style: normal;
  color: #fff;
}

#edit {
  color: #fff;
  opacity: 0.90;
}

#edit:hover {
  color: #fff;
  opacity: 0.60;
}

th, td {
  color: #fff;
  opacity: 0.90;
}

.nav {
  color: #fff;
}

.card {
  background-color: #121212;
  color: #fff;
  opacity: 0.90;
}

nav a {
  color: #fff !important;
  opacity: 0.90;
}

nav a:hover {
  color: #fff !important;
  opacity: 0.60;
}


.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input, textarea, select, .custom-checkbox {
  opacity: 0.90;
}

.custom-checkbox {
  color: #fff;
  opacity: 0.90;
}

.modal-content {
  background-color: #121212;
}

.rounded-input {
  opacity: 0.90
}

#section-header, #section-header:hover, #section-header:active, #section-header:focus, #add-skill, #add-skill:hover {
  color: #fff;
  opacity: 0.60;
  background-color: transparent !important; 
  border-color: transparent !important;
  text-decoration: none !important;
}

.profileLink {
  text-decoration: none;
  color: #fff;
  opacity: 0.90;
}

.profileLink:hover{
  text-decoration: none;
  color: #fff;
  opacity: 0.60;
}

.themeToggle {
  background-color: #121212;
  color: #fff;
  opacity: 0.90;
}